.nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.first {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.second {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.logo {
    font-size: 3em;
    padding-bottom: .2em;
    padding-top: .2em;
    font-weight: 600;
    z-index: 1000;
    text-align: center;

}

.logoList {
    width: 100%;
}

.little {
    font-weight: 700;
    padding-left: .5em;
    padding-right: .5em;
}


a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    background: #3B94D9;
}

.img:hover {
    background: #3B94D9;
}