h1 {
    color: blue;
    font-size: 30px;
    border: 2px dotted black;
}

.pink {
    color: pink;
}

p, li {
    color: purple;
}

#teal {
    color: teal;
}

#img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}